:root{
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  --font-family-title: "Asap", sans-serif;
  --font-family-subtitle: "Inconsolata", monospace;
  --font-family-text: "Maven Pro", sans-serif;

  --title-lg: 700 56px/120% var(--font-family-title);
  --title-md: 700 24px/120% var(--font-family-title);
  --title-sm: 700 16px/120% var(--font-family-title);

  --subtitle: 400 20px/120% var(--font-family-subtitle);

  --text-md: 400 16px/140% var(--font-family-text);
  --text-sm: 400 14px/140% var(--font-family-text);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--gray-600);
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  width: 1360px;
  margin-inline: auto;
  padding-block: 0px 200px;
  background-color: var(--gray-500);
}

.tag {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  background: #2b3040;  
  padding: 8px 16px;
  border-radius: 120px;
  
  img {
    width: 24px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: contain;
  }
}

.badge {
  width: 24px;
  aspect-ratio: 1/1;
  background-color: var(--gray-500);
  border-radius: 50%;
  margin-inline: 4px;
}