.container>header{
  background-image: url(../assets/Background_Intro.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 750px;

  align-items: center;
  justify-content: flex-start;
  
  &>div{
    width: 55%;
    height: 60%;
    margin-block: 120px 94px;

    justify-content: space-between;

    &>div{
      align-items: center;
      text-align: center;

      h3{
        margin-bottom: 8px;
      }
      h1{
        margin-bottom: 20px;
      }
    }

    &>.flex-row{
      justify-content: space-evenly;
    }

  } 
}

#portrait{
  position: relative;
  margin-bottom: 56px;
  
  img:nth-of-type(1){
    width: 96px;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 50%;
    align-self: center;

    margin: 6px;
    outline: 2px solid var(--red);
    outline-offset: 4px;
  }

  &>img:nth-of-type(2) {
    width: 32px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 0;
    right: 0;
  }

}