#projects{
  padding: 72px 12% 144px 12%;
  align-items: center;
  gap: 56px;
  
  header{
    width: 100%;
    text-align: center;
  }

  .grid-col{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

.card-project{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px 12px 16px 12px;
  background-color: var(--gray-400);
  border-radius: 12px;

  &:hover{
    background-color: var(--blue);
  }

  &>img{
    width: 306px;
    aspect-ratio: 306/156;
    object-fit: cover;
    border-radius: 12px;
  }

  &>div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px;
  }
}

.project-tag{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}